*{
    padding: 0;
    margin: 0;
}

/* common classes */
.btn{
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}
.btn:hover{
    background-color:beige;
    color: rgb(0, 106, 80);
    border: 1px solid;

}
.subtitle{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}
.description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.card{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 20px;
    height: auto;
    width: 50%;
}


.main-section{
    background: rgb(245, 245, 245);
    padding: 30px 100px;
}

/* header section  */
nav .navbar{
    display: flex;
    justify-content: space-between;
    /* margin: 0px 150px; */
    padding: 25px 0px;
}
.navbar h2{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}
.navbar button{
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 5px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 450;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 8px 20px;
    cursor: pointer;
}
.navbar button:hover{
    background-color: rgb(0, 106, 80);
    color: white;
}

/* banner part  */
.banner{
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 60px 70px;
    gap: 50px;
    text-align: start;
    height: auto;
    width: fixed;
}
.banner-content p{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}
.banner-content h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 36.3px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0%;
    text-align: left;
    margin: 27px 0;
}
.banner-content img{
    height: 350px;
    width: 200px;
}

/* pillars section  */
.pillars{
    margin: 50px 0;
}
.for-card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.card h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0;
}

/* vision section  */

.vision-card{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}
.vision-card .card1{
    background: rgba(84, 144, 245, 0.2);;
}
.vision-card .card1 button{
    background: rgb(84, 144, 245);
}
.vision-card .card2{
    background: rgb(198, 228, 214);
} 
.vision-card .card2 button{
    background: rgb(9, 161, 92);
}
.vision-card .card3{
    background: rgb(247, 235, 207);
}
.vision-card .card3 button{
    background: rgb(255, 194, 57);
}
.vision-card button:hover{
    background-color: snow;
    transition: .8s;
}
.adviser-speech{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin: 30px 0;
    padding: 30px 20px;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/quote-bg.png);
    background-repeat: no-repeat;
    background-position:20px 10px ;
    background-size: auto;
    
}
.adviser-speech .name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 15px;
}



/* opinion section  */
.opinion .subtitle{
    margin: 70px 0 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
td{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background: rgb(198, 228, 214);
}
select {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(198, 228, 214);
    text-align: center;
    justify-content: center;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}


/* recent news  */
.news{
    margin-top: 60px;
}
.content{
    display: flex;
    gap: 50px;
    padding: 80px 30px 0px;
}
.content img{
    border-radius: 15px;

}


/* donate section  */
.donate{
    margin-top: 50px;
}
.donate .title{
    text-align: center;
    padding: 50px 0 10px;
}
.donate .description{
    text-align: center;
    margin: 10px 100px;
}
.amount-card{
    display: flex;
    gap: 30px;
    justify-content: center
}
.amount{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 10px;
    background: rgb(255, 255, 255);
    padding: 8px 40px;
    margin-top: 20px;

}
.amount:hover{
    background-color: rgb(198, 228, 214);;
    color: white;
    transition: .6s;
    border: 1px solid white;
}
.active{
    background-color: rgb(198, 228, 214);;
}
.active:hover{
    background-color: antiquewhite;
}
input {
    width: 80%;
    margin: 40px 80px;
    padding: 20px;
    border: none;
    border-bottom: 2px solid rgb(198, 228, 214);
    border-radius: 5px;
    text-align: center;

}
.donate .button{
    text-align: center;
}


/* footer part  */
.newsletter{
    margin: 40px 0;
    padding: 40px;
    border-radius: 18px;
    background: rgb(198, 228, 214);
    
}
.newsletter .description, .newsletter .subtitle{
    text-align: center;
    margin: 0 220px ;
}
.input{
    display: flex;
    margin: 0;
    justify-content: space-around;
    text-align: start;
    padding: 0 90px;
}
.input .input1{
    margin-right: 0;
    height: 10px;
    border-end-end-radius: 0;
    border-top-right-radius: 0;
}
.input input[type=button]{
    margin-left: 0;
    width: 120px;
    height: 50px;
    border-start-start-radius: 0px;
    border-bottom-left-radius:  0;
}


/* bottom section  */
.bottom{
    text-align: center;
    margin: 70px;
}
.bottom h3{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 22px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}
.blank{
    border: .3px solid #ddd;
    width: 700px;
    margin: 30px auto;
}
.bottom img{
    margin: 0 15px;
}